<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.espacio.bumeran.aula.mapper.CoursesMapper">
	<!-- Recupera el dispositivo de un terminal conociendo el id de una alarma -->
	<select id="getUserCourses"	parameterType="java.lang.String"
									resultType="com.espacio.bumeran.aula.model.Course">
		<![CDATA[
SELECT cur."idCurso", cur."iconoCurso", cur."txtoCorto", cur."txtoMedio", 
cur."txtoLargo", cur."descripcionCorta", cur."descripcionLarga", cur."numHoras", cur."fechaInicio", cur."fechaFin", cur.precio, cur."precioOferta", 
cur.modalidad
	FROM public."Curso" cur, public."RelUsuarioCurso" rel
	WHERE cur."idCurso" = rel."idCurso"
	and rel."username" = #{userName};			
		]]>							
	</select>
	
	
	
	<update id="updateCourseImage">
			UPDATE public."Curso" 
			SET "iconoCurso" = #{imageBytes, jdbcType=BLOB}
			WHERE "idCurso" = #{idCurso};
	</update>	
	
	<insert id="insertCourseInscription">
			INSERT INTO public."RelInscriptionCourse"
			VALUES (#{inscriptionId},#{courseId});
	</insert>
	
	<insert id="insertInscription">
			INSERT INTO public."Inscription"(
				"email", "nombre", "apellidos", "telefono", "inscriptionDate", "pack")
				VALUES (#{email}, #{nombre}, #{apellidos}, #{telefono}, CURRENT_TIMESTAMP, #{pack});
	</insert>
	
	
	<select id="getInscriptionId"	parameterType="java.lang.String"
									resultType="java.lang.Integer">
				SELECT  max("inscriptionId")
				FROM public."Inscription"
				WHERE "email" = #{email};				
							
	</select>		
	
	
	<select id="getAllInscriptions"	resultType="com.espacio.bumeran.aula.model.Inscription">
		<![CDATA[
			SELECT ins."inscriptionId", ins."nombre", ins."apellidos", ins."email", ins."telefono", ins."pack", cou."courseDesc"
			FROM public."Inscription" ins, public."RelInscriptionCourse" rel, public."Course" cou
			WHERE ins."inscriptionId" = rel."inscriptionId"
			AND rel."courseId" = cou."courseId";		
		]]>							
	</select>	
</mapper>